<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="../../../assets/logo.png" alt="Logo image" />
      </a>
    </div>
    <span class="spacer"></span>

    <div class="right">
      <div>
        <mat-card>
          <div class="personal-image col-2">
            <img [src]="user.image" alt="image" class="rounded-circle" />
          </div>

          <div class="personal-data col-10">
            <form class="col-12">
              <div class="d-flex">
                <mat-form-field class="col-4">
                  <mat-label class="small-font">First name:</mat-label>
                  <input
                    matInput
                    type="text"
                    disabled
                    [(ngModel)]="user.firstName"
                    name="name"
                  />
                </mat-form-field>
                <mat-form-field class="col-4">
                  <mat-label class="small-font">Last name:</mat-label>
                  <input
                    matInput
                    type="text"
                    disabled
                    [(ngModel)]="user.lastName"
                    name="lastName"
                  />
                </mat-form-field>
                <mat-form-field class="col-4">
                  <mat-label class="small-font">Position:</mat-label>
                  <input
                    matInput
                    disabled
                    [(ngModel)]="user.position"
                    name="position"
                  />
                </mat-form-field>
              </div>
            </form>
          </div>
        </mat-card>
      </div>

      <div class="buttons col-12 d-flex justify-content-between">
        <button class="long-text" mat-raised-button routerLink="/new-rent">
          new rent
        </button>
        <span class="spacer"></span>

        <button class="long-text" mat-raised-button routerLink="/active-rents">
          return book
        </button>
        <span class="spacer"></span>

        <button class="long-text" mat-raised-button (click)="addNewMember()">
          new member
        </button>
        <span class="spacer"></span>

        <button class="long-text" mat-raised-button (click)="addNewBook()">
          new book
        </button>
        <span class="spacer"></span>

        <button class="long-text" (click)="logout()" mat-raised-button>
          Logout
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
