<div class="wrapper">
  <h3 mat-dialog-title>{{ data.edit ? "Edit book" : "Add new book" }}</h3>
  <div mat-dialog-content>
    <form [formGroup]='form'>
      <mat-form-field>
        <input matInput placeholder="Book title" type="text" formControlName='title' />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Book author" type="text" formControlName='author' />
      </mat-form-field>

      <div class='image-preview' *ngIf='imagePreview!=="" && imagePreview'>
        <img [src]='imagePreview' [alt]='form.value.title'>
      </div>
      <mat-form-field>
        <input matInput placeholder="Year of release" type="number" formControlName='year' />
      </mat-form-field>
      <div>
        <button mat-stroked-button type='button' (click)='filePicker.click()'>Pick image</button>
        <input type="file" name="" id="" #filePicker accept="image/*" (change)="onImagePicked($event)">
      </div>

      <button mat-button color="primary" [mat-dialog-close]="false">
        Close
      </button>
      <button mat-button color="primary" (click)="save()">
        {{ data.edit ? "Save" : "Add" }}
      </button>
      <button mat-button *ngIf="data.edit" color="warn" (click)="delete()">
        Delete
      </button>
    </form>
  </div>
</div>
