<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Changing password
      </mat-panel-title>
      <mat-panel-description>
        Click here if you want to change your login password
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]='passGroup'></form>
    <mat-form-field>
      <input matInput placeholder="Current password" formControlName='oldPass'>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="New password" formControlName='newPass'>
      <mat-error *ngIf="passGroup.get('newPass').hasError('notSame')">
        This two fields must be same
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm new password" formControlName='confirmPass'>
      <mat-error *ngIf="passGroup.get('confirmPass').hasError('notSame')">
        This two fields must be same
      </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]='passGroup.invalid' (click)='sendNewPass()'></button>
  </mat-expansion-panel>
</mat-accordion>
