<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Register new user
			</mat-panel-title>
			<mat-panel-description>
				Click here to add new user
			</mat-panel-description>
		</mat-expansion-panel-header>

		<form [formGroup]='userGroup'>
			<p>After saving change you'll have to login again.</p>

			<mat-form-field>
				<input matInput placeholder="First name" formControlName='firstName'>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Last name" formControlName='lastName'>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="E-mail" formControlName='email'>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Password" formControlName='password'>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Select position:</mat-label>
				<mat-select formControlName='position'>
					<mat-option value="librarian">
						Librarian
					</mat-option>
					<mat-option value="admin">
						Admin
					</mat-option>
					<mat-option [disabled]='user.position!=="super-admin"' value="super-admin">
						Super-admin
					</mat-option>
				</mat-select>
			</mat-form-field>

			<div class='image-preview' *ngIf='imagePreview!=="" && imagePreview'>
				<img [src]='imagePreview' alt='Image preview'>
			</div>

			<div>
				<button mat-stroked-button type='button' (click)='filePicker.click()'>Pick image</button>
				<input type="file" name="" id="" #filePicker accept="image/*" (change)="onImageChange($event)">
			</div>

			<button mat-raised-button [disabled]='!userGroup.valid' (click)='registerUser()'>Register user</button>

		</form>
	</mat-expansion-panel>
</mat-accordion>