/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.long-text {
  white-space: normal !important;
  line-height: normal !important;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.warning-snackbar {
  background-color: rgba(242, 38, 19, .85);
  color: whitesmoke;
}

.correct-snackbar {
  background-color: rgba(46, 204, 113, .85);
  color: whitesmoke;
}

/* First breakpoint */
@media only screen and (min-width: 700px) {}

@media only screen and (min-width: 1285px) {
  .long-text {
    line-height: inherit !important;
  }
}

@media only screen and (min-width: 1475px) {
  .long-text {
    line-height: inherit !important;
  }
}
