<div class='pb-3'>
  <div>Rental history for {{data.fullName}}</div>
  <div class='d-inline-block small' style='background-color: Lavender'>active rent</div>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let rent of rents"
    [ngStyle]="{'background-color' : rent.returnDate ? null : 'Lavender' }">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{rent.bookId.title}}
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      Author: {{rent.bookId.author}}
    </div>
    <div>
      Published: {{rent.bookId.year}}
    </div>
    <div>
      Rented: {{rent.rentDate | date: "dd/MM/yyyy"}}
    </div>
    <div>
      Returned: {{rent.returnDate ? (rent.returnDate | date: "dd/MM/yyyy") : "Not returned"}}
    </div>
  </mat-expansion-panel>
</mat-accordion>
